<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='happiness.css') }}"
    />

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='webapp.js') }}"
    ></script>

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
      crossorigin="anonymous">

    <!--chart.js script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js" 
      integrity="sha512-GMGzUEevhWh8Tc/njS0bDpwgxdCJLQBWG3Z2Ct+JGOpVnEmjvNx6ts4v6A2XJf1HOrtOsfhv3hBKpK9kE5z8AQ==" 
      crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>

    <!-- script for datamaps library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='datamaps.world.min.js') }}"
    ></script>


    <title>World Happiness Tracker</title>
  </head>

  <body>
    <nav id="nav" class="navbar fixed-top navbar-color navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand navbar-color" href="/"
          >World Happiness Tracker</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active navbar-color"
                aria-current="page"
                href="/"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link nav-selected" href="/map">Map</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-color" href="/chart">Plot</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-color" href="/about-us">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="map-body">
        <!-- directions and selector  -->
        <div class="map-directions">
            <p>Select or click on a country to view happiness and other statistics for the most recent year data is available:</p>
            <p>Countries
            <select id="country_selector"></select>
            </p>
        </div>

        <!--MAP -->
         <div id="map-container"></div>
        <div id="country-info-container" class="country-info">
          <h3 id="country-title"></h3>
          
          <div id="summary" class="summary"></div>
          <div id="happiness_chart" class="happiness-chart"></div>
          
          <div class="legend-container">
            <table id="map-legend">
              <tr>
                <th>2021 Life Ladder Score</th>
                <th class="beige">_____</th>
              </tr>
              <tr>
                <td>&lt;3.0</td>
                <td class="lightest"></td>
              </tr>
              <tr>
                <td>3.0-4.2</td>
                <td class="mid-color1"></td>
              </tr>
              <tr>
                <td>4.2-6.4</td>
                <td class="mid-color2"></td>
              </tr>
              <tr>
                <td>&gt;6.4</td>
                <td class="darkest"></td>
              </tr>
            </table>
          </div>
          <table id="country-summary" class="country-table"></table>
        </div>
    </div>

  </body>
</html>
